<a href="https://colab.research.google.com/github/naina001T/Data-Cleaning-and-Analysis/blob/main/Flight_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Performing the EDM

In [ ]:
!git clone https://github.com/naina001T/EDA-Projects.git

Cloning into 'EDA-Projects'...
warning: You appear to have cloned an empty repository.

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
from google.colab import files

uploaded = files.upload()

Saving Data_Train.xlsx to Data_Train (1).xlsx

In [ ]:
df=pd.read_excel("Data_Train.xlsx")
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

# *Dropping Here Row 6474 because the Duration is incorrect 5m only*

In [ ]:
df = df.drop(index=6474)

# ***I am here splitting Date of Journey into three columns: Date,Month and Year***

In [ ]:
df['date']=df['Date_of_Journey'].str.split('/').str[0]
df['month']=df['Date_of_Journey'].str.split('/').str[1]
df['year']=df['Date_of_Journey'].str.split('/').str[2]

In [ ]:
df['Date']=df['date'].astype(int)
df['Month']=df['month'].astype(int)
df['Year']=df['year'].astype(int)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10682 entries, 0 to 10682
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10682 non-null  object
 1   Date_of_Journey  10682 non-null  object
 2   Source           10682 non-null  object
 3   Destination      10682 non-null  object
 4   Route            10681 non-null  object
 5   Dep_Time         10682 non-null  object
 6   Arrival_Time     10682 non-null  object
 7   Duration         10682 non-null  object
 8   Total_Stops      10681 non-null  object
 9   Additional_Info  10682 non-null  object
 10  Price            10682 non-null  int64
 11  date             10682 non-null  object
 12  month            10682 non-null  object
 13  year             10682 non-null  object
 14  Date             10682 non-null  int64
 15  Month            10682 non-null  int64
 16  Year             10682 non-null  int64
dtypes: int64(4), object(13)
memory usage: 1.5+ MB

In [ ]:
df.drop('date',axis=1,inplace=True)
df.drop('month',axis=1,inplace=True)
df.drop('year',axis=1,inplace=True)
df.drop('Date_of_Journey',axis=1,inplace=True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10682 entries, 0 to 10682
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10682 non-null  object
 1   Source           10682 non-null  object
 2   Destination      10682 non-null  object
 3   Route            10681 non-null  object
 4   Dep_Time         10682 non-null  object
 5   Arrival_Time     10682 non-null  object
 6   Duration         10682 non-null  object
 7   Total_Stops      10681 non-null  object
 8   Additional_Info  10682 non-null  object
 9   Price            10682 non-null  int64
 10  Date             10682 non-null  int64
 11  Month            10682 non-null  int64
 12  Year             10682 non-null  int64
dtypes: int64(4), object(9)
memory usage: 1.1+ MB

# ***I am here splitting Arrival Time into two columns: Hours and Minutes***

In [ ]:
df['Arrival_Time'].unique()

array(['01:10 22 Mar', '13:15', '04:25 10 Jun', ..., '06:50 10 Mar',
       '00:05 19 Mar', '21:20 13 Mar'], dtype=object)

In [ ]:
df['Arrival_Time']=df['Arrival_Time'].apply (lambda x : x.split(' ')[0])

In [ ]:
df['Arrival_Time']

0        01:10
1        13:15
2        04:25
3        23:30
4        21:35
         ...
10678    22:25
10679    23:20
10680    11:20
10681    14:10
10682    19:15
Name: Arrival_Time, Length: 10682, dtype: object

In [ ]:
df['Arrival_Hour']=df['Arrival_Time'].str.split(":").str[0]

In [ ]:
df['Arrival_minute']=df['Arrival_Time'].str.split(":").str[1]

In [ ]:
df['Arrival_Hour']=df['Arrival_Hour'].astype(int)
df['Arrival_minute']=df['Arrival_minute'].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10682 entries, 0 to 10682
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10682 non-null  object
 1   Source           10682 non-null  object
 2   Destination      10682 non-null  object
 3   Route            10681 non-null  object
 4   Dep_Time         10682 non-null  object
 5   Arrival_Time     10682 non-null  object
 6   Duration         10682 non-null  object
 7   Total_Stops      10681 non-null  object
 8   Additional_Info  10682 non-null  object
 9   Price            10682 non-null  int64
 10  Date             10682 non-null  int64
 11  Month            10682 non-null  int64
 12  Year             10682 non-null  int64
 13  Arrival_Hour     10682 non-null  int64
 14  Arrival_minute   10682 non-null  int64
dtypes: int64(6), object(9)
memory usage: 1.3+ MB

In [ ]:
df.drop('Arrival_Time',inplace=True,axis=1)

# ***I am here splitting Deapture Time into two columns: Hours and Minutes***

In [ ]:
df['Departure_hour']=df['Dep_Time'].str.split(":").str[0]
df['Departure_MINUTE']=df['Dep_Time'].str.split(":").str[1]

In [ ]:
df['Dep_hour']=df['Departure_hour'].astype(int)
df['Dep_minute']=df['Departure_MINUTE'].astype(int)
df.drop('Departure_hour',axis=1,inplace=True)
df.drop('Departure_MINUTE',axis=1,inplace=True)
df.drop('Dep_Time',axis=1,inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10682 entries, 0 to 10682
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10682 non-null  object
 1   Source           10682 non-null  object
 2   Destination      10682 non-null  object
 3   Route            10681 non-null  object
 4   Duration         10682 non-null  object
 5   Total_Stops      10681 non-null  object
 6   Additional_Info  10682 non-null  object
 7   Price            10682 non-null  int64
 8   Date             10682 non-null  int64
 9   Month            10682 non-null  int64
 10  Year             10682 non-null  int64
 11  Arrival_Hour     10682 non-null  int64
 12  Arrival_minute   10682 non-null  int64
 13  Dep_hour         10682 non-null  int64
 14  Dep_minute       10682 non-null  int64
dtypes: int64(8), object(7)
memory usage: 1.3+ MB

# ***I am here splitting Duration into two columns: Duration_Hours and Duration_Minutes***

In [ ]:
df['Duration_hour']=df['Duration'].str.split(" ").str[0]
df['Duration_hour']=df['Duration_hour'].str.split("h").str[0]
df['Duration_hour'].unique()

array(['2', '7', '19', '5', '4', '15', '21', '25', '13', '12', '26', '22',
       '23', '20', '10', '6', '11', '8', '16', '3', '27', '1', '14', '9',
       '18', '17', '24', '30', '28', '29', '37', '34', '38', '35', '36',
       '47', '33', '32', '31', '42', '39', '41', '40'], dtype=object)

In [ ]:
df['Duration_minute']=df['Duration'].str.split(" ").str[1]
df['Duration_minute']=df['Duration_minute'].str.split("m").str[0]
df['Duration_minute'].unique()

array(['50', '25', nan, '45', '30', '5', '15', '35', '10', '20', '55',
       '40'], dtype=object)

In [ ]:
df['Duration_minute'] = df['Duration_minute'].fillna(0)
df['Duration_minute'].unique()

array(['50', '25', 0, '45', '30', '5', '15', '35', '10', '20', '55', '40'],
      dtype=object)

In [ ]:
df.drop('Duration',axis=1,inplace=True)

In [ ]:
df['Duration_hour']=df['Duration_hour'].astype(int)
df['Duration_minute']=df['Duration_minute'].astype(int)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10682 entries, 0 to 10682
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10682 non-null  object
 1   Source           10682 non-null  object
 2   Destination      10682 non-null  object
 3   Route            10681 non-null  object
 4   Total_Stops      10681 non-null  object
 5   Additional_Info  10682 non-null  object
 6   Price            10682 non-null  int64
 7   Date             10682 non-null  int64
 8   Month            10682 non-null  int64
 9   Year             10682 non-null  int64
 10  Arrival_Hour     10682 non-null  int64
 11  Arrival_minute   10682 non-null  int64
 12  Dep_hour         10682 non-null  int64
 13  Dep_minute       10682 non-null  int64
 14  Duration_hour    10682 non-null  int64
 15  Duration_minute  10682 non-null  int64
dtypes: int64(10), object(6)
memory usage: 1.4+ MB

# *Converting Total Stops to integer values*

In [ ]:
df[df['Total_Stops'].isnull()]

,Airline,Source,Destination,Route,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_minute,Dep_hour,Dep_minute,Duration_hour,Duration_minute
9039,Air India,Delhi,Cochin,NaN,NaN,No info,7480,6,5,2019,9,25,9,45,23,40

In [ ]:
df['Total_Stops'].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [ ]:
df['Total_Stops'].mode()

0    1 stop
Name: Total_Stops, dtype: object

In [ ]:
df['total_stops']=df['Total_Stops'].map({'non-stop':0, '2 stops':2, '1 stop':1, '3 stops':3,'4 stops':4,np.nan:1})

In [ ]:
df['total_stops'].unique()

array([0, 2, 1, 3, 4])

In [ ]:
df.drop('Total_Stops',axis=1,inplace=True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10682 entries, 0 to 10682
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10682 non-null  object
 1   Source           10682 non-null  object
 2   Destination      10682 non-null  object
 3   Route            10681 non-null  object
 4   Additional_Info  10682 non-null  object
 5   Price            10682 non-null  int64
 6   Date             10682 non-null  int64
 7   Month            10682 non-null  int64
 8   Year             10682 non-null  int64
 9   Arrival_Hour     10682 non-null  int64
 10  Arrival_minute   10682 non-null  int64
 11  Dep_hour         10682 non-null  int64
 12  Dep_minute       10682 non-null  int64
 13  Duration_hour    10682 non-null  int64
 14  Duration_minute  10682 non-null  int64
 15  total_stops      10682 non-null  int64
dtypes: int64(11), object(5)
memory usage: 1.4+ MB

# *Dropping Route as it shows same data as Source and Destination*

In [ ]:
df.drop('Route',axis=1,inplace=True)

# *Onehot encoding of all Numerical Columns*

In [ ]:
df.head()

,Airline,Source,Destination,Route,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_minute,Dep_hour,Dep_minute,Duration_hour,Duration_minute,total_stops
0,IndiGo,Banglore,New Delhi,BLR → DEL,No info,3897,24,3,2019,1,10,22,20,2,50,0
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,No info,7662,1,5,2019,13,15,5,50,7,25,2
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,No info,13882,9,6,2019,4,25,9,25,19,0,2
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,No info,6218,12,5,2019,23,30,18,5,5,25,1
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,No info,13302,1,3,2019,21,35,16,50,4,45,1

In [ ]:
df['Airline'].unique()

array(['IndiGo', 'Air India', 'Jet Airways', 'SpiceJet',
       'Multiple carriers', 'GoAir', 'Vistara', 'Air Asia',
       'Vistara Premium economy', 'Jet Airways Business',
       'Multiple carriers Premium economy', 'Trujet'], dtype=object)

In [ ]:
df['Source'].unique()

array(['Banglore', 'Kolkata', 'Delhi', 'Chennai', 'Mumbai'], dtype=object)

In [ ]:
df['Destination'].unique()

array(['New Delhi', 'Banglore', 'Cochin', 'Kolkata', 'Delhi', 'Hyderabad'],
      dtype=object)

In [ ]:
df['Additional_Info'].unique()

array(['No info', 'In-flight meal not included',
       'No check-in baggage included', '1 Short layover', 'No Info',
       '1 Long layover', 'Change airports', 'Business class',
       'Red-eye flight', '2 Long layover'], dtype=object)

In [ ]:
from sklearn.preprocessing import OneHotEncoder

In [ ]:
encoder=OneHotEncoder()

In [ ]:
encoder.fit_transform(df[['Airline','Source','Destination','Additional_Info']])

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 42728 stored elements and shape (10682, 33)>

In [ ]:
Revised=pd.DataFrame(encoder.fit_transform(df[['Airline','Source','Destination','Additional_Info']]).toarray(),columns=encoder.get_feature_names_out())

In [ ]:
Fligh_cleandata = pd.merge(df,Revised)

In [ ]:
Fligh_cleandata.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10681 entries, 0 to 10681
Data columns (total 49 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Airline                                       10681 non-null  object
 1   Source                                        10681 non-null  object
 2   Destination                                   10681 non-null  object
 3   Route                                         10680 non-null  object
 4   Additional_Info                               10681 non-null  object
 5   Price                                         10681 non-null  int64
 6   Date                                          10681 non-null  int64
 7   Month                                         10681 non-null  int64
 8   Year                                          10681 non-null  int64
 9   Arrival_Hour                                  10681 non-null  int64
 10  Arrival_minute                                10681 non-null  int64
 11  Dep_hour                                      10681 non-null  int64
 12  Dep_minute                                    10681 non-null  int64
 13  Duration_hour                                 10681 non-null  int64
 14  Duration_minute                               10681 non-null  int64
 15  total_stops                                   10681 non-null  int64
 16  Airline_Air Asia                              10681 non-null  float64
 17  Airline_Air India                             10681 non-null  float64
 18  Airline_GoAir                                 10681 non-null  float64
 19  Airline_IndiGo                                10681 non-null  float64
 20  Airline_Jet Airways                           10681 non-null  float64
 21  Airline_Jet Airways Business                  10681 non-null  float64
 22  Airline_Multiple carriers                     10681 non-null  float64
 23  Airline_Multiple carriers Premium economy     10681 non-null  float64
 24  Airline_SpiceJet                              10681 non-null  float64
 25  Airline_Trujet                                10681 non-null  float64
 26  Airline_Vistara                               10681 non-null  float64
 27  Airline_Vistara Premium economy               10681 non-null  float64
 28  Source_Banglore                               10681 non-null  float64
 29  Source_Chennai                                10681 non-null  float64
 30  Source_Delhi                                  10681 non-null  float64
 31  Source_Kolkata                                10681 non-null  float64
 32  Source_Mumbai                                 10681 non-null  float64
 33  Destination_Banglore                          10681 non-null  float64
 34  Destination_Cochin                            10681 non-null  float64
 35  Destination_Delhi                             10681 non-null  float64
 36  Destination_Hyderabad                         10681 non-null  float64
 37  Destination_Kolkata                           10681 non-null  float64
 38  Destination_New Delhi                         10681 non-null  float64
 39  Additional_Info_1 Long layover                10681 non-null  float64
 40  Additional_Info_1 Short layover               10681 non-null  float64
 41  Additional_Info_2 Long layover                10681 non-null  float64
 42  Additional_Info_Business class                10681 non-null  float64
 43  Additional_Info_Change airports               10681 non-null  float64
 44  Additional_Info_In-flight meal not included   10681 non-null  float64
 45  Additional_Info_No Info                       10681 non-null  float64
 46  Additional_Info_No check-in baggage included  10681 non-null  float64
 47  Additional_Info_No info                       10681 non-null  float64
 48  Additional_Info_Red-eye flight                10681 non-null  float64
dtypes: float64(33), int64(11), object(5)
memory usage: 4.1+ MB

In [ ]:
Fligh_cleandata.drop('Source',axis=1,inplace=True)
Fligh_cleandata.drop('Destination',axis=1,inplace=True)
Fligh_cleandata.drop('Airline',axis=1,inplace=True)

In [ ]:
Fligh_cleandata.drop('Route',axis=1,inplace=True)

In [ ]:

Fligh_cleandata.drop('Additional_Info',axis=1,inplace=True)

In [ ]:
Fligh_cleandata.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10681 entries, 0 to 10681
Data columns (total 44 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Price                                         10681 non-null  int64
 1   Date                                          10681 non-null  int64
 2   Month                                         10681 non-null  int64
 3   Year                                          10681 non-null  int64
 4   Arrival_Hour                                  10681 non-null  int64
 5   Arrival_minute                                10681 non-null  int64
 6   Dep_hour                                      10681 non-null  int64
 7   Dep_minute                                    10681 non-null  int64
 8   Duration_hour                                 10681 non-null  int64
 9   Duration_minute                               10681 non-null  int64
 10  total_stops                                   10681 non-null  int64
 11  Airline_Air Asia                              10681 non-null  float64
 12  Airline_Air India                             10681 non-null  float64
 13  Airline_GoAir                                 10681 non-null  float64
 14  Airline_IndiGo                                10681 non-null  float64
 15  Airline_Jet Airways                           10681 non-null  float64
 16  Airline_Jet Airways Business                  10681 non-null  float64
 17  Airline_Multiple carriers                     10681 non-null  float64
 18  Airline_Multiple carriers Premium economy     10681 non-null  float64
 19  Airline_SpiceJet                              10681 non-null  float64
 20  Airline_Trujet                                10681 non-null  float64
 21  Airline_Vistara                               10681 non-null  float64
 22  Airline_Vistara Premium economy               10681 non-null  float64
 23  Source_Banglore                               10681 non-null  float64
 24  Source_Chennai                                10681 non-null  float64
 25  Source_Delhi                                  10681 non-null  float64
 26  Source_Kolkata                                10681 non-null  float64
 27  Source_Mumbai                                 10681 non-null  float64
 28  Destination_Banglore                          10681 non-null  float64
 29  Destination_Cochin                            10681 non-null  float64
 30  Destination_Delhi                             10681 non-null  float64
 31  Destination_Hyderabad                         10681 non-null  float64
 32  Destination_Kolkata                           10681 non-null  float64
 33  Destination_New Delhi                         10681 non-null  float64
 34  Additional_Info_1 Long layover                10681 non-null  float64
 35  Additional_Info_1 Short layover               10681 non-null  float64
 36  Additional_Info_2 Long layover                10681 non-null  float64
 37  Additional_Info_Business class                10681 non-null  float64
 38  Additional_Info_Change airports               10681 non-null  float64
 39  Additional_Info_In-flight meal not included   10681 non-null  float64
 40  Additional_Info_No Info                       10681 non-null  float64
 41  Additional_Info_No check-in baggage included  10681 non-null  float64
 42  Additional_Info_No info                       10681 non-null  float64
 43  Additional_Info_Red-eye flight                10681 non-null  float64
dtypes: float64(33), int64(11)
memory usage: 3.7 MB